

<section class="container sm mt-4 border border-3">
  <h4 class="text-center text-secondary">USO DE PIPES</h4>
  <form [formGroup]="registroForm">
    <label for="">Valor:</label>
    <input type="text" name="" class="form-control" formControlName="valor">
  
    <p class="mt-3">Resultado: {{valor?.value | uppercase}}</p>
  </form>

</section>

<section class="container sm mt-4 border border-3">
  <h4 class="text-center text-secondary">CURRENCY PIPES</h4>
  <form [formGroup]="registroForm">
    <label for="monto">Valor:</label>
    <input type="number" name="monto" class="form-control" formControlName="monto">

    <select name="" id="" formControlName="op" class="form-select col-3 mt-3" [(ngModel)]="tipo">
      <option value="">Seleccione el tipo de modena</option>
      <option *ngFor="let item of monedas" value="{{item}}">{{item}}</option>
    </select>

    <p class="mt-3">Resultado: {{ monto?.value | currency: tipo }}</p>
  </form>


</section>


